[submodule "Eventy-front"]
    path = Eventy-front
    url = https://github.com/Mattheo4427/Eventy-front.git
    branch = main
[submodule "Eventy-back"]
    path = Eventy-back
    url = https://github.com/Mattheo4427/Eventy-back.git
    branch = main