[submodule "Eventy-front"]
	path = Eventy-front
    url = https://github.com/Mattheo4427/Eventy-front.git
[submodule "Eventy-back"]
	path = Eventy-back
    url = https://github.com/Mattheo4427/Eventy-back.git
[submodule "front"]
	branch = main
[submodule "back"]
	branch = main
